.forms {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.inputs {
  width: 500px;
  padding: 10px;
}
.inputs_sec {
  width: 500px;
  padding: 10px;
}
.inputs_three {
  width: 100px;
  padding: 10px;
}
.labels {
  margin-top: 15px;
}
.submits {
  background-color: transparent;
  cursor: pointer;
  padding: 15px 15px;
  min-width: 150px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in;
  background-color: rgba(0, 32, 216, 0.144);
}

.submits:hover {
  background-color: rgba(0, 38, 255, 0.314);
}
.subtitle {
  text-align: center;
  margin-bottom: 60px;
}
.err {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  padding: 30px;
  text-align: center;
  background-color: #ff000039;
  border-radius: 10px;
  font-size: 20px;
}
.suc {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  padding: 30px;
  text-align: center;
  background-color: #00ff1e39;
  border-radius: 10px;
  font-size: 20px;
}
.suc h3 {
  margin-bottom: 10px;
}
.check {
  display: block;
  margin: 0 auto;
  max-width: 30%;
  padding: 30px;
  text-align: center;
  background-color: #0026ff39;
  border-radius: 10px;
  font-size: 20px;
}
.imgs {
  display: block;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .forms {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .inputs,
  .inputs_sec,
  .inputs_three {
    width: 90%;
    margin: 15px auto;
  }
  .labels {
    text-align: center;
  }
  .submits {
    width: 30%;
    margin: 0 auto;
  }
  .err {
    max-width: 70%;
  }
  .suc {
    max-width: 90%;
  }
  .suc h4 {
    font-size: 10px;
    text-align: left;
  }
  .imgs {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  .subtitle {
    margin-bottom: 10px;
  }
}
